# Symfony 3 application Vagrantfile sample.

Vagrant.configure(2) do |config|
  config.vm.box = "bento/ubuntu-18.04"

  config.vm.hostname = "symfony3"
  config.vm.network "private_network", ip: "192.168.33.12"

  config.vm.provider "virtualbox" do |vb|
    vb.name = "symfony3"
    vb.memory = "3072"
  end

  # Deploy the base Ansible roles on the machine.
  config.vm.provision "ansible_local" do |ansible|
    ansible.playbook = "deploy_roles.yml"
    ansible.limit = "localhost"
    ansible.inventory_path = "inventories/hosts"
  end

  # Provision the machine.
  config.vm.provision "ansible_local" do |ansible|
    ansible.playbook = "setup.yml"
    ansible.limit = "localhost"
    ansible.inventory_path = "inventories/hosts"
  end
end
